# Copyright Statement:
#
# This software/firmware and related documentation ("MediaTek Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to MediaTek Inc. and/or its licensors.
# Without the prior written permission of MediaTek inc. and/or its licensors,
# any reproduction, modification, use or disclosure of MediaTek Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
#
# MediaTek Inc. (C) 2010. All rights reserved.
#
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT THE SOFTWARE/FIRMWARE AND ITS DOCUMENTATIONS ("MEDIATEK SOFTWARE")
# RECEIVED FROM MEDIATEK AND/OR ITS REPRESENTATIVES ARE PROVIDED TO RECEIVER ON
# AN "AS-IS" BASIS ONLY. MEDIATEK EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES MEDIATEK PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH THE MEDIATEK SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN MEDIATEK SOFTWARE. MEDIATEK SHALL ALSO NOT BE RESPONSIBLE FOR ANY MEDIATEK
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND MEDIATEK'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO THE MEDIATEK SOFTWARE RELEASED HEREUNDER WILL BE,
# AT MEDIATEK'S OPTION, TO REVISE OR REPLACE THE MEDIATEK SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# MEDIATEK FOR SUCH MEDIATEK SOFTWARE AT ISSUE.


#
# ISDN DIVAS Eicon driver
#

menuconfig CAPI_EICON
	bool "Active Eicon DIVA Server cards"
	help
	  Enable support for Eicon Networks active ISDN cards.

if CAPI_EICON

config ISDN_DIVAS
	tristate "Support Eicon DIVA Server cards"
	depends on PROC_FS && PCI
	help
	  Say Y here if you have an Eicon Networks DIVA Server PCI ISDN card.
	  In order to use this card, additional firmware is necessary, which
	  has to be downloaded into the card using the divactrl utility.

if ISDN_DIVAS

config ISDN_DIVAS_BRIPCI
	bool "DIVA Server BRI/PCI support"
	help
	  Enable support for DIVA Server BRI-PCI.

config ISDN_DIVAS_PRIPCI
	bool "DIVA Server PRI/PCI support"
	help
	  Enable support for DIVA Server PRI-PCI.

config ISDN_DIVAS_DIVACAPI
	tristate "DIVA CAPI2.0 interface support"
	help
	  You need this to provide the CAPI interface
	  for DIVA Server cards.

config ISDN_DIVAS_USERIDI
	tristate "DIVA User-IDI interface support"
	help
	  Enable support for user-mode IDI interface.

config ISDN_DIVAS_MAINT
	tristate "DIVA Maint driver support"
	depends on m
	help
	  Enable Divas Maintenance driver.

endif # ISDN_DIVAS

endif # CAPI_EICON
